.img{
    height: 200px;
}

.botao{
    border: none;
    border-radius: 10px;
    background-color:  #d1eaf9;
    padding: 10px;
}

.botao:hover{
    background-color: #5086c1;
}

.div{
    padding: 20px;
}

.p{
    font-size: 20px;
}